@import "./../../theme/variables";

.mainCaroussel {
  color: white;
  text-align: center;
  position: relative;
  padding: 0 !important;
  img {
    width: 100%;
    margin: 0 !important;
    display: block;
  }
}